{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/user.css') }}">
{% endblock %}

{% block body %}

    <div class="text-center" id="content">
        <div class="form-signin">
            {{ form_start(form) }}

            <div>
                {{ form_widget(form.user, {'attr': {'placeholder': 'Nazwa użytkownika'} }) }}
                {{ form_errors(form.user) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}